[submodule "oRTP"]
	path = oRTP
	url = git://git.linphone.org/ortp.git
[submodule "mediastreamer2"]
	path = mediastreamer2
	url = git://git.linphone.org/mediastreamer2.git
[submodule "belle-sip"]
	path = belle-sip
	url = git://git.linphone.org/belle-sip.git
